In [350]:
import pandas as pd
import numpy as np

In [351]:
# 任务1：将列表转换为Numpy数组
import numpy as np
data0 = [2,4,9,10]
arr0= np.array(data0)

In [352]:
# 任务2：新建pandas中的series数据类型，打印出查看其大小、索引值、值

In [353]:
# pandas中的Series数据类型
s= pd.Series(data=[100,'a',{'dic1':5}],
             index=pd.Index(['id1',20,'third'], name='my_idx'),
             dtype= 'object',
             name='my_name' )

In [354]:
s2=pd.Series(["1","2","3","4"])

In [355]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [356]:
s2.values

array(['1', '2', '3', '4'], dtype=object)

In [357]:
type(s2.values[0])

str

In [358]:
s2.size

4

In [359]:
s2.shape

(4,)

In [360]:
s2.shape[0]

4

In [361]:
# 任务3：创建dataframe类型的数据并获取其索引、值及表格大小
d = {
    "one":pd.Series([1.0,2.0,3.0],index=["a","b","c"]),
    "two":pd.Series([1.0,2.0,3.0,4.0,5.0],index=["a","b","c","d","e"]),
}
df=pd.DataFrame(d)

In [362]:
# 练习
d1 = {
    "书名":pd.Series(['新世纪福音战士','黑色五叶草','进击的巨人','死神']),
    "作者":pd.Series(['庵野秀明','田畠裕基','谏山创','久保带人']),
    "价格":pd.Series([88,98,250,188]),
}
df2=pd.DataFrame(d1)

In [363]:
df2.index.values

array([0, 1, 2, 3], dtype=int64)

In [364]:
df2.size

12

In [365]:
df2['作者']

0    庵野秀明
1    田畠裕基
2     谏山创
3    久保带人
Name: 作者, dtype: object

In [366]:
df2[['作者','价格']]

     作者   价格
0  庵野秀明   88
1  田畠裕基   98
2   谏山创  250
3  久保带人  188