In [3]:
#任务1：csv格式数据的读写查询


import pandas as pd

In [15]:
列名列表=['姓名','学号','GitHub仓库地址']
pd.read_csv(R'第一次作业提交统计2.csv',encoding='GBK',usecols=['姓名'])

     姓名
0   许思勤
1    高娴
2    周茂
3    古颜
4    颜慈
..  ...
86  徐睿鲲
87  刘占森
88  崔益广
89  吴娅蕾
90  蓝苡榕

[91 rows x 1 columns]